{% extends 'login/base-login.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<body = class="admin-login-page">
<section class="login-page">
    <form>
        <h1 class="login-page">Login</h1>
        <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" name="email" placeholder="Email">
            <label for="">Admin</label>
        </div>
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" name="password" placeholder="Password">
            <label for="">Password</label>
        </div>
        <div class="forget">
            <label for=""><input type="checkbox">Remember</label>
            <a href="#">Forgot password?</a>
        </div>
        <button class="login-page">Login</button>
        <div class="register">
            <p>Login as user? <a href="{{ path('login') }}">click here</a></p>
        </div>
    </form>
</section>
</body>
{% endblock %}