/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.navbar-nav .nav-link:hover {
  color:#404a99!important;
}

.navbar-nav .nav-link {
  color: #3c3c3b !important;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .25);
}

.navbar-brand {
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: "Inter", Helvetica, Arial, Lucida, sans-serif;
}

.navbar {
  background-color: rgba(217, 223, 234, 0.9);
}
