{% extends 'base.html.twig' %}

{% block title %}Notes App
{% endblock %}


{% block body %}
	<div class="notes-app">
		<header class="app-header">
			<h1 class="app-title">My Notes</h1>
			<div class="app-controls">
				<button id="newNoteBtn" class="btn-primary">
					<i class="icon-plus"></i>
					New Note
				</button>
				<button id="themeToggle" class="btn-icon" aria-label="Toggle theme">
					<i class="icon-theme"></i>
				</button>
			</div>
		</header>


		<main class="app-main">
			<div id="noteEditor" class="note-editor hidden">
				<input type="text" id="noteTitle" class="note-title" placeholder="Note title">
				<textarea id="noteContent" class="note-content" placeholder="Start writing..."></textarea>
				<div class="editor-actions">
					<button id="saveNoteBtn" class="btn-primary">Save</button>
					<button id="cancelEditBtn" class="btn-secondary">Cancel</button>
				</div>
			</div>


			<div
				class="notes-grid" id="notesGrid"><!-- Notes will be loaded here via JavaScript -->
			</div>


			<div class="pagination-controls">
				<button id="prevPageBtn" disabled>Previous</button>
				<span id="pageInfo">Page 1</span>
				<button id="nextPageBtn">Next</button>
			</div>
		</main>
	</div>

{% endblock %}
