{% extends 'base.html.twig' %}

{% block title %}Contact - Lexact
{% endblock %}



{% block body %}
<div class="contact-page">
	<div class="contact-info">
		<h2>Lexact</h2>
		<p>ICT & Telecom specialist in Tynaarlo</p>


<address>
	<p>
		<strong>Adres:</strong><br>
		Industrieweg 15<br>
		9482 WB Tynaarlo</p>


	<p>
		<strong>Telefoon:</strong>
		<a href="tel:+31592333444">0592 333 444</a>
	</p>
	<p>
		<strong>E-mail:</strong>
		<a href="mailto:info@lexact.nl">info@lexact.nl</a>
	</p>
	<p>
		<strong>Website:</strong>
		<a href="https://www.lexact.nl" target="_blank">www.lexact.nl</a>
	</p>
	<p>
		<strong>Bedrijfsinformatie</strong><br>
		KVK nr: 74613030<br>
		BTW nr: 8599.67.979.B.01<br>
		IBAN nr: NL51RABO0319108767
	</p>
</address></div></div>


<div class="map-container">
	<div class="google-maps">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4793.055859891323!2d6.599082000000001!3d53.082753!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c83adb311b97f1%3A0x89e5b59df62a273f!2sLexact%20Telecom%20%26%20ICT!5e0!3m2!1snl!2snl!4v1743963044192!5m2!1snl!2snl" style="border:0;"></iframe>
	</div>

</div>
{% endblock %}
