{# templates/dashboard/login.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Login | Devhub Lexact</title>
</head>
<body>
    <h1>Welkom op je Dashboard!</h1>
    <p>Dit is je dashboardpagina.</p>
</body>
</html>
