{% extends 'dashboard/index.html.twig' %}

{% block body %}
	<div class="site-wrap">
		<div class="site-nav">
			<ul class="site-nav-list">
				<li class="site-nav-list-item">
					<a href="#">Planning</a>
				</li>
				<li class="site-nav-list-item">
					<a href="{{ path('file') }}">Uploads</a>
				</li>
				<li class="site-nav-list-item">
					<a href="#0">Code snippets</a>
				</li>
				<li class="site-nav-list-item">
					<a href="#0">Projects</a>
				</li>
				<li class="site-nav-list-item">
					<a href="#0">Alle projecten</a>
				</li>
				<li class="site-nav-list-item">
					<a href="#0">Recente projecten</a>
				</li>
				<li class="site-nav-list-item">
					<a href="#0">Notes</a>
				</li>
				<li class="site-nav-list-item">
					<a href="#0">Feedback</a>
				</li>
				<li class="site-nav-list-item">
					<a href="#0">Contact</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="content-columns">
		<div class="col">
			<div class="item"></div>
		</div>
		<div class="col">
			<div class="item"></div>
		</div>
		<div class="col">
			<div class="item"></div>
		</div>
		<div class="col">
			<div class="item"></div>
		</div>
	</div>

{% endblock %}
