{% extends 'dashboard/index.html.twig' %}

{% block body %}
	<div class="site-wrap">
		<div class="site-nav">
			<ul class="site-nav-list">
				<li class="site-nav-list-item">
					<a href="#">Planning</a>
				</li>
				<li class="site-nav-list-item">
					<a href="{{ path('file') }}">Files</a>
				</li>
				<li class="site-nav-list-item">
					<a href="app_project">Projects</a>

				</li>
				<li class="site-nav-list-item">
					<a href="app_notes">Notes</a>

				</li>
				<li class="site-nav-list-item">
<a href="app_feedback">Feedback</a>

				</li>
				<li class="site-nav-list-item">
<a href="app_contact">Contact</a>

				</li>
			</ul>
		</div>
	</div>
	{# <div class="content-columns">
		
				<div class="col">
					<div class="item"></div>
				</div>
				<div class="col">
					<div class="item"></div>
				</div>
				<div class="col">
					<div class="item"></div>
				</div>
				<div class="col">
					<div class="item"></div>
				</div>
		</div>
		#}

{% endblock %}
