{% extends 'base.html.twig' %}

{% block title %}Notes
{% endblock %}

{% block body %}

	<div class="container">
		<header>
			<h1>Notes</h1>
			<button id="themeToggle">?</button>
		</header>

		<div class="note-input">
			<textarea id="newNote" placeholder="Type your note here..."></textarea>
			<button id="addNoteBtn">Add Note</button>
		</div>

		<div id="notesContainer" class="notes-container"></div>
	</div>

{% endblock %}
