{% extends 'base.html.twig' %}

{% block title %}Nieuw Project{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Nieuw Project</h1>
    
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        
        <button type="submit" class="btn btn-primary">
            Opslaan
        </button>
        <a href="{{ path('project_index') }}" class="btn btn-secondary">
            Annuleren
        </a>
    {{ form_end(form) }}
</div>
{% endblock %}